body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size:40px;
}
.mission1{
    color:orange;
}
section{
    display:flex;
}
.half{
    width:50%;
}
.half img{
    width:50%;
    height:50%;
}

.link1{
    text-decoration:none;
    background-color: rgb(204, 70, 70);
    padding:10px 40px;
    border-radius: 5px;
    color:white;
    font-weight:700;
}

.mission2{
    display:flex;
    margin-bottom:100px;
}
img{
    height: 100px;
    width=120px;
}
.item{
    margin-right:5%;
    margin-left:5%;
    width:60%;
    padding-left:20px;
    padding-right:10px;
    border-radius:10px;
    
}
.newhalf{
    width:80%;
}
.item img{
    width:40%;
}
.border-line{
    border-left:rgb(204, 70, 70) 5px solid;
}
#part1{
    background-color: rgb(183, 207, 218);
}
#part2{
    background-color: rgb(231, 194, 200);
}
#part3{
    background-color:rgb(233, 233, 199)
}
.my-footer{
    background: black;
}
h2{

    text-align:center;
}
h5{
    color:white;
    text-align:center;
}

}